Repository ansible/ansible-hub-ui, pull requests merged in 2021-04, with the labels that each got.

#337 Update travis and docker image to use node 14
  .travis.yml
  Dockerfile
Labels: backport-4.2

#333 package.json - ensure npm<7, node 12 or 14
  package-lock.json
  package.json
Labels: backport-4.2

#339 npm audit fix
  package-lock.json
  package.json
  test/package-lock.json
Labels: backport-4.2

#345 ObjectPermissionField - don't offer already added groups
  src/components/permissions/obect-permission-field.tsx
Labels: backport-4.2

#355 Add Enter handling to Group create modal
  src/components/group-management/group-modal.tsx
Labels: backport-4.2, backport-4.3

#357 Add spinner to Container list view
  src/containers/execution-environment-list/execution_environment_list.tsx
Labels: backport-4.3

#370 Clarify and fix missing permissions on container repo form.
  src/components/execution-environment/repository-form.tsx
  src/components/permissions/obect-permission-field.tsx
  src/constants.tsx
  src/containers/execution-environment-detail/base.tsx
Labels: backport-4.3

#346 Handle errors when adding user to group
  src/containers/group-management/group-detail.tsx
Labels: backport-4.3

#363 Menu refactor & Repo switcher
  src/components/headers/base-header.tsx
  src/components/headers/collection-header.tsx
  src/components/headers/partner-header.tsx
  src/components/index.ts
  src/components/repo-selector/repo-selector.scss
  src/components/repo-selector/repo-selector.tsx
  src/containers/namespace-detail/namespace-detail.tsx
  src/containers/search/search.tsx
  src/loaders/app.scss
  src/loaders/standalone/standalone-loader.tsx
  test/cypress/integration/menu.js
  test/cypress/integration/user_dashboard.js
  test/cypress/support/commands.js
Labels: backport-4.3

#359 Add spinner to Repo Management
  src/containers/repositories/repository-list.tsx
Labels: backport-4.3

#375 Disable repo selector in insights mode.
  src/components/repo-selector/repo-selector.tsx
Labels: backport-4.3
