Repository ansible/ansible-hub-ui, pull requests merged in 2021-11, with the labels that each got.

#1151 EE delete modal: don't hide name while still waiting for task
  src/containers/execution-environment-list/execution_environment_list.tsx
Labels: backport-4.4

#1082 Cypress: add view-only tests
  .github/workflows/cypress.yml
  test/README.md
  test/cypress/integration/menu.js
  test/cypress/integration/view-only.js
Labels: backport-4.4

#1187 Localization: Update translated strings
  locale/fr.po
  locale/ja.po
  locale/zh.po
Labels: backport-4.4

#1142 Fix `cy.addLocalContainer` on github actions
  .github/workflows/cypress.yml
  test/cypress.env.json.template
  test/cypress/support/commands.js
Labels: backport-4.4

#1138 Cypress test for execution environments
  src/containers/execution-environment-detail/execution_environment_detail.tsx
  src/containers/execution-environment-list/execution_environment_list.tsx
  test/cypress/integration/execution_environments.js
Labels: backport-4.4

#1141 tests: edit local and remote ee
  src/components/execution-environment-header/execution-environment-header.tsx
  test/cypress/integration/execution_environments_edit.js
Labels: backport-4.4

#1112 add tests to remote registries form
  src/components/repositories/remote-form.tsx
  test/cypress/integration/remote_registry.js
  test/cypress/support/commands.js
Labels: backport-4.4

#1117 cypress test delete collection version
  src/components/headers/collection-header.tsx
  test/cypress/integration/collection.js
Labels: backport-4.4

#1113 Tests for EE Use in Controller
  test/cypress/integration/execution_environments.js
  test/cypress/integration/execution_environments_edit.js
  test/cypress/integration/execution_environments_use_in_controller.js
  test/cypress/integration/remote_registry.js
  test/cypress/support/commands.js
Labels: backport-4.4

#1216 Fix i18n issue
  locale/en.js
  locale/en.po
  locale/es.js
  locale/es.po
  locale/fr.js
  locale/fr.po
  locale/ja.js
  locale/ja.po
  locale/nl.js
  locale/nl.po
  locale/zh.js
  locale/zh.po
  test/cypress/support/commands.js
Labels: bug, backport-4.4

#1258 add tasking system permissions to the UI
  src/constants.tsx
Labels: backport-4.4

#1289 [stable-4.2] Collection detail - make both version selects affect the download tarball version
  src/components/collection-detail/collection-info.tsx
  src/components/headers/collection-header.tsx
  src/containers/collection-detail/collection-content.tsx
  src/containers/collection-detail/collection-detail.tsx
  src/containers/collection-detail/collection-docs.tsx
  src/containers/collection-detail/collection-import-log.tsx
Labels: backport-4.3

#1251 Bump react-markdown to 7
  package-lock.json
  package.json
  src/components/markdown-editor/markdown-editor.tsx
  src/containers/namespace-detail/namespace-detail.tsx
Labels: dependencies
