Repository ansible/ansible-hub-ui, pull requests merged in 2022-12, with the labels that each got.

#2898 Insights tests - add smoke tests, manualCloudLogin command from previous PRs
  .github/workflows/cypress/cypress.env.json.insights
  .github/workflows/cypress/cypress.env.json.standalone
  test/README.md
  test/cypress.config.js
  test/cypress.env.json.template
  test/cypress/e2e/insights/collections_list.js
  test/cypress/e2e/insights/smoke.js
  test/cypress/support/commands.js
Labels: insights

#3014 remote_repo_edit test - Clear before expecting empty inputs
  test/cypress/e2e/repo/remote_repo_edit.js
Labels: backport-4.6

#2984 Use version range when comparing dependencies.
  CHANGES/2018.bugfix
  src/components/collection-dependencies-list/collection-dependencies-list.tsx
  src/containers/collection-detail/collection-dependencies.tsx
Labels: backport-4.5, backport-4.6

#2601 Error messages aren't displaying on the remote container create form
  CHANGES/1845.bug
  src/components/execution-environment/repository-form.tsx
  src/containers/execution-environment-detail/base.tsx
  src/containers/execution-environment-list/execution_environment_list.tsx
  src/utilities/index.ts
  src/utilities/map-error-messages.ts
Labels: backport-4.4, backport-4.5, backport-4.6

#3029 License fields on ah blank or formatted incorrectly
  CHANGES/2048.bug
  src/api/response-types/collection.ts
  src/components/collection-detail/collection-info.tsx
Labels: backport-4.5, backport-4.6

#3028 Add a link to the CRC public key in PAH
  CHANGES/2025.task
  src/containers/token/token-insights.tsx
Labels: insights

#3017 Fix reserved resources on task management
  CHANGES/2055.bugfix
  src/containers/task-management/task_detail.tsx
Labels: backport-4.4, backport-4.5, backport-4.6
