Repository ansible/ansible-hub-ui, pull requests merged in 2022-05, with the labels that each got.

#1922 Fix broken UI on EEs created by ansible builder
  CHANGES/1527.bugfix
  src/containers/execution-environment-manifest/execution-environment-manifest.tsx
Labels: backport-4.4, backport-4.5

#2026 [AAH-1060] Fix context of signing filter component in the search bar
  src/components/collection-list/collection-filter.tsx
Labels: bug, backport-4.5

#1992 Do not use global active CSS selector
  CHANGES/1546.bug
  src/components/sort-table/sort-table.scss
  src/components/sort-table/sort-table.tsx
Labels: backport-4.5

#2031 l10n: enable korean
  src/l10n.ts
Labels: backport-4.5

#2037 l10n: enable korean for extract&compile as well
  .linguirc
  src/l10n.ts
Labels: backport-4.5
