Repository ansible/ansible-hub-ui, pull requests merged in 2023-10, with the labels that each got.

#4370 fix: replace "Github" with "GitHub" on `legacy-role.tsx` and `README.md`
  README.md
  src/containers/legacy-roles/legacy-role.tsx
Labels: community

#4383 logout: reload user info after logout, instead of assuming null
  CHANGES/2726.misc
  src/loaders/standalone/layout.tsx
Labels: community, backport-4.8

#4385 community Sync - disable without a requirements file .. on the detail screen
  CHANGES/2360.bug
  src/actions/action.tsx
  src/actions/ansible-repository-sync.tsx
  src/components/patternfly-wrappers/tooltip.tsx
  src/containers/ansible-repository/detail.tsx
  src/containers/ansible-repository/tab-details.tsx
Labels: backport-4.7, backport-4.8

#4366 Language switcher
  CHANGES/2730.misc
  src/components/index.ts
  src/components/patternfly-wrappers/stateful-dropdown.tsx
  src/components/shared/language-switcher.tsx
  src/entry-standalone.tsx
  src/l10n.ts
  src/loaders/standalone/layout.tsx
  test/cypress/e2e/groups_and_users/login.js
  test/cypress/e2e/misc/docs_menu.js
  test/cypress/e2e/misc/profile.js
Labels: community

#4393 Fix failing collection, repository tests
  test/cypress/e2e/collections/collection.js
  test/cypress/e2e/repo/repository.js
Labels: tests, backport-4.7, backport-4.8

#4392 Remote form: warn about signed_only enabled & missing requirements for Galaxy remote
  CHANGES/2748.bug
  src/components/repositories/remote-form.tsx
Labels: backport-4.7, backport-4.8

#4411 Repository sync - warn about community set to signed_only
  src/actions/ansible-repository-sync.tsx
Labels: backport-4.7, backport-4.8

#4414 Remote form: expose "sync dependencies" switch
  src/api/response-types/ansible-remote.ts
  src/api/response-types/remote.ts
  src/components/repositories/remote-form.tsx
Labels: backport-4.7, backport-4.8

#4416 Repository collection versions - fix "Cannot read properties of undefined" after removing cv
  src/actions/ansible-repository-collection-version-add.tsx
  src/containers/ansible-repository/tab-collection-versions.tsx
  src/containers/ansible-repository/tab-repository-versions.tsx
Labels: backport-4.7, backport-4.8

#4422 AnsibleRole{,Namespace}{Detail,List} - rename for consistency
  src/components/index.ts
  src/containers/ansible-role/namespace-detail.tsx
  src/containers/ansible-role/namespace-list.tsx
  src/containers/ansible-role/namespace.scss
  src/containers/ansible-role/role-detail.tsx
  src/containers/ansible-role/role-list.tsx
  src/containers/index.ts
  src/index.d.ts
  src/loaders/standalone/routes.tsx
  src/utilities/index.ts
Labels: community, cleanup

#4441 Dispatch: redirect on 1 item
  src/containers/not-found/dispatch.tsx
Labels: community

#4443 use name property on version
  CHANGES/2807.bug
  src/containers/ansible-role/role-detail.tsx
Labels: community

#4444 role-detail: show latest version, not oldest
  src/containers/ansible-role/role-detail.tsx
Labels: community

#4439 Drop unused cypress transitive dependency
  package-lock.json
  package.json
Labels: backport-4.5, backport-4.6, cleanup, backport-4.7, backport-4.8

#4198 Token insights - restore MyDistribution query, show separate synclist url
  src/api/index.ts
  src/api/my-distribution.ts
  src/containers/token/token-insights.tsx
  src/loaders/app.scss
Labels: insights

#4459 Repository create - preselect "create a ... distribution" when creating new repo
  src/components/repositories/ansible-repository-form.tsx
Labels: backport-4.7, backport-4.8

#4457 Execution environment form fixups
  src/components/approval/approval-row.tsx
  src/components/collection-list/collection-list-item.tsx
  src/components/execution-environment/repository-form.tsx
  src/components/execution-environment/tag-manifest-modal.tsx
  src/components/index.ts
  src/components/legacy-role-list/legacy-role-item.tsx
  src/components/patternfly-wrappers/label-group.tsx
  src/components/rbac/permission-chip-selector.tsx
  src/components/repo-selector/multiple-repo-selector.tsx
  src/components/repositories/pulp-labels.tsx
  src/containers/ansible-role/role-detail.tsx
  src/containers/execution-environment-detail/execution_environment_detail_images.tsx
  src/containers/execution-environment-manifest/execution-environment-manifest.tsx
  src/containers/user-management/user-list.tsx
Labels: backport-4.7, backport-4.8

#4458 Import modal - respect display_repositories, hide selector when no choices
  src/components/import-modal/import-modal.tsx
  test/cypress/e2e/collections/collection_upload.js
Labels: community, backport-4.7, backport-4.8
