Repository ansible/ansible-hub-ui, pull requests merged in 2023-05, with the labels that each got.

#3470 basic landing page
  CHANGES/2172.feature
  developer_guidelines.md
  src/components/cards/landing-page-card.tsx
  src/components/index.ts
  src/containers/index.ts
  src/containers/landing/landing-page.scss
  src/containers/landing/landing-page.tsx
  src/containers/login/login.tsx
  src/containers/token/token-insights.tsx
  src/loaders/insights/routes.tsx
  src/loaders/standalone/layout.tsx
  src/loaders/standalone/routes.tsx
  src/paths.ts
  test/cypress/e2e/execution_environments/execution_environments_edit.js
Labels: community

#3715 Collection documentation: do not wrongly interpret plugins/modules whose name starts with `_` as deprecated
  CHANGES/3715.bug
  src/components/render-plugin-doc/render-plugin-doc.tsx
Labels: backport-4.7

#3657 Disable checkbox for adding collection if collection is already assigned to repository
  CHANGES/2323.feature
  src/actions/ansible-repository-collection-version-add.tsx
  src/utilities/repositories.ts
Labels: backport-4.7

#3714 Create tests for repositories
  CHANGES/2245.task
  src/components/repositories/ansible-repository-form.tsx
  test/cypress/e2e/repo/repository.js
  test/cypress/e2e/repo/repository_list.js
  test/cypress/support/commands.js
Labels: backport-4.7

#3607 Use antsibull-docs-ts to render semantic markup
  CHANGES/2156.feature
  package-lock.json
  package.json
  src/components/render-plugin-doc/render-plugin-doc.tsx
  src/containers/collection-detail/collection-docs.tsx
Labels: backport-4.7

#3659 Repositories - consistent filters, filter by approval state
  CHANGES/2259.task
  src/components/page/list-page.tsx
  src/components/patternfly-wrappers/compound-filter.tsx
  src/containers/ansible-repository/list.tsx
Labels: backport-4.7

#3737 Repository URL - always use distro base_path, show in detail screen
  src/actions/ansible-repository-copy.tsx
  src/components/index.ts
  src/components/page/list-page.tsx
  src/components/page/page-with-tabs.tsx
  src/components/page/page.tsx
  src/components/repositories/lazy-distributions.tsx
  src/containers/ansible-repository/detail.tsx
  src/containers/ansible-repository/tab-details.tsx
  src/containers/collection-detail/collection-distributions.tsx
  src/containers/namespace-detail/namespace-detail.tsx
  src/containers/token/token-insights.tsx
  src/utilities/get-repo-url.ts
  src/utilities/index.ts
Labels: backport-4.7

#3708 Synclist deprecation
  CHANGES/2335.task
  src/containers/token/token-insights.tsx
  src/loaders/insights/loader.tsx
  src/utilities/get-repo-url.ts
Labels: insights

#3738 waitForTask: switch from polling every 5s to an incremental 2s, 3s, 4.5s, 6.75s, ~10s... progression
  src/utilities/wait-for-task.ts
Labels: insights

#3782 Repository tests: create distribution for one repo, copy cli fails without it
  test/cypress/e2e/repo/repository_list.js
Labels: tests

#3779 clean up empty jsx pairs
  src/actions/ansible-repository-version-revert.tsx
  src/components/collection-detail/collection-info.tsx
  src/components/collection-list/collection-list-item.tsx
  src/components/confirm-modal/confirm-modal.tsx
  src/components/delete-modal/delete-modal.tsx
  src/components/execution-environment/publish-to-controller-modal.tsx
  src/components/execution-environment/tag-manifest-modal.tsx
  src/components/import-modal/import-modal.tsx
  src/components/legacy-namespace-list/legacy-namespace-item.tsx
  src/components/legacy-role-list/legacy-role-item.tsx
  src/components/loading/loading-with-header.tsx
  src/components/page/list-page.tsx
  src/components/page/page.tsx
  src/components/patternfly-wrappers/compound-filter.tsx
  src/components/rbac/permission-categories.tsx
  src/components/rbac/role-form.tsx
  src/components/rbac/role-header.tsx
  src/components/rbac/user-form-page.tsx
  src/components/rbac/user-form.tsx
  src/components/signing/sign-all-certificates-modal.tsx
  src/containers/certification-dashboard/certification-dashboard.tsx
  src/containers/collection-detail/collection-content.tsx
  src/containers/collection-detail/collection-dependencies.tsx
  src/containers/collection-detail/collection-detail.tsx
  src/containers/collection-detail/collection-distributions.tsx
  src/containers/collection-detail/collection-docs.tsx
  src/containers/collection-detail/collection-import-log.tsx
  src/containers/edit-namespace/edit-namespace.tsx
  src/containers/execution-environment-detail/base.tsx
  src/containers/execution-environment-detail/execution_environment_detail_activities.tsx
  src/containers/execution-environment-list/execution_environment_list.tsx
  src/containers/execution-environment-manifest/execution-environment-manifest.tsx
  src/containers/execution-environment/registry-list.tsx
  src/containers/group-management/group-detail.tsx
  src/containers/group-management/group-list.tsx
  src/containers/landing/landing-page.tsx
  src/containers/legacy-namespaces/legacy-namespace.tsx
  src/containers/legacy-namespaces/legacy-namespaces.tsx
  src/containers/legacy-roles/legacy-role.tsx
  src/containers/legacy-roles/legacy-roles.tsx
  src/containers/my-imports/my-imports.tsx
  src/containers/namespace-detail/namespace-detail.tsx
  src/containers/namespace-list/namespace-list.tsx
  src/containers/role-management/role-edit.tsx
  src/containers/role-management/role-list.tsx
  src/containers/settings/user-profile.tsx
  src/containers/signature-keys/list.tsx
  src/containers/task-management/task-list-view.tsx
  src/containers/task-management/task_detail.tsx
  src/containers/token/token-insights.tsx
  src/containers/token/token-standalone.tsx
  src/containers/user-management/user-create.tsx
  src/containers/user-management/user-detail.tsx
  src/containers/user-management/user-edit.tsx
  src/containers/user-management/user-list.tsx
  src/loaders/standalone/layout.tsx
  src/loaders/standalone/menu.tsx
Labels: cleanup

#3784 Respect `display_repositories` feature flag for collection/namespace/role filters list
  CHANGES/2326.bug
  src/components/collection-list/collection-filter.tsx
Labels: community
