Repository ansible/ansible-hub-ui, pull requests merged in 2023-02, with the labels that each got.

#3248 Localization fixes
  src/components/patternfly-wrappers/applied-filters.tsx
  src/components/patternfly-wrappers/pagination.tsx
  src/components/patternfly-wrappers/wizard-modal.tsx
  src/components/rbac/permission-chip-selector.tsx
  src/components/rbac/role-form.tsx
  src/components/typeahead/typeahead.tsx
  src/containers/execution-environment-manifest/execution-environment-manifest.tsx
  src/containers/legacy-roles/legacy-role.tsx
  src/containers/namespace-list/namespace-list.tsx
  src/containers/task-management/task-list-view.tsx
  src/containers/task-management/task_detail.tsx
  src/l10n.ts
  src/utilities/chip-group-props.ts
  src/utilities/index.ts
Labels: backport-4.5, backport-4.6

#3264 LabelGroup - translate Show Less / N more
  src/components/collection-list/collection-list-item.tsx
  src/components/execution-environment/repository-form.tsx
  src/components/execution-environment/tag-manifest-modal.tsx
  src/components/legacy-role-list/legacy-role-item.tsx
  src/components/rbac/permission-chip-selector.tsx
  src/containers/execution-environment-detail/execution_environment_detail_images.tsx
  src/containers/execution-environment-manifest/execution-environment-manifest.tsx
  src/containers/legacy-roles/legacy-role.tsx
  src/containers/user-management/user-list.tsx
Labels: backport-4.5, backport-4.6

#3282 CI/insights dev: mock more insights APIs to fix test insights failures
  config/webpack.base.config.js
Labels: insights

#3324 Repair insights tests
  test/cypress.env.json.template
  test/cypress/e2e/collections/collections_list.js
  test/cypress/e2e/insights/smoke.js
Labels: insights

#3329 Bump cypress 11 to 12
  src/components/repositories/remote-form.tsx
  test/cypress/e2e/collections/collection.js
  test/cypress/e2e/repo/remote_repo_edit.js
  test/package-lock.json
  test/package.json
Labels: dependencies, tests
