Repository ansible/ansible-hub-ui, pull requests merged in 2023-09, with the labels that each got.

#4162 EE header - fix Edit alignment
  src/containers/execution-environment-detail/base.tsx
Labels: backport-4.7

#4193 "Add collection" modal - disable "Select" button when no collections are selected
  src/actions/ansible-repository-collection-version-add.tsx
Labels: backport-4.7

#4195 Import only individual icons from react-icons
  src/components/card-list-switcher/card-list-switcher.tsx
  src/components/collection-detail/collection-content-list.tsx
  src/components/collection-detail/collection-info.tsx
  src/components/collection-detail/download-signature-grid-item.tsx
  src/components/empty-state/empty-state-filter.tsx
  src/components/empty-state/empty-state-no-data.tsx
  src/components/empty-state/empty-state-unauthorized.tsx
  src/components/execution-environment/publish-to-controller-modal.tsx
  src/components/execution-environment/repository-form.tsx
  src/components/execution-environment/tag-manifest-modal.tsx
  src/components/headers/collection-header.tsx
  src/components/headers/partner-header.tsx
  src/components/helper-text/helper-text.tsx
  src/components/import-modal/import-modal.tsx
  src/components/legacy-namespace-list/legacy-namespace-item.tsx
  src/components/namespace-form/namespace-form.tsx
  src/components/patternfly-wrappers/compound-filter.tsx
  src/components/patternfly-wrappers/sort.tsx
  src/components/repositories/lazy-distributions.tsx
  src/components/repositories/lazy-repositories.tsx
  src/components/repositories/remote-form.tsx
  src/components/shared/download-count.tsx
  src/components/signing/signature-badge.tsx
  src/components/sort-table/sort-table.tsx
  src/components/status/status-indicator.tsx
  src/components/tag-label/tag-label.tsx
  src/components/wisdom-modal/wisdom-modal.tsx
  src/containers/certification-dashboard/certification-dashboard.tsx
  src/containers/collection-detail/collection-docs.tsx
  src/containers/execution-environment-detail/execution_environment_detail_activities.tsx
  src/containers/execution-environment-detail/execution_environment_detail_images.tsx
  src/containers/execution-environment-list/execution_environment_list.tsx
  src/containers/group-management/group-detail.tsx
  src/containers/group-management/group-list.tsx
  src/containers/legacy-namespaces/legacy-namespace.tsx
  src/containers/legacy-roles/legacy-role.tsx
  src/containers/login/login.tsx
  src/containers/namespace-detail/namespace-detail.tsx
  src/containers/settings/user-profile.tsx
  src/containers/task-management/task_detail.tsx
  src/containers/user-management/user-list.tsx
  src/loaders/standalone/layout.tsx
  src/loaders/standalone/menu.tsx
Labels: insights

#4200 Cypress: skip insights tests for now
  .github/workflows/cypress.yml
Labels: tests

#4205 cypress: pull npm install and gettext out of the 3 modes
  .github/workflows/cypress.yml
Labels: cleanup

#4211 screenshot tests - fix Signature keys inconsistent order
  src/api/signing-service.ts
  src/containers/signature-keys/list.tsx
  test/cypress/e2e/screenshots/screenshots.js
Labels: tests, backport-4.7

#4142 Approval - fix when more than 10 staging repos
  CHANGES/2366.bug
  src/actions/ansible-repository-collection-version-add.tsx
  src/components/approval/approval-row.tsx
  src/components/approval/approve-modal.tsx
  src/components/approve-modal/approve-modal.tsx
  src/components/copy-collection-to-repository-modal/copy-collection-to-repository-modal.tsx
  src/components/headers/collection-header.tsx
  src/components/import-modal/import-modal.tsx
  src/components/index.ts
  src/components/my-imports/import-console.tsx
  src/components/repo-selector/multiple-repo-selector.tsx
  src/components/shared/multi-repo-modal.tsx
  src/constants.tsx
  src/containers/ansible-repository/list.tsx
  src/containers/certification-dashboard/certification-dashboard.tsx
  src/utilities/delete-collection.tsx
  src/utilities/index.ts
  src/utilities/repositories.ts
  src/utilities/repository-remove-collection.ts
  test/cypress/e2e/approval/approval_dashboard_list.js
  test/cypress/e2e/approval/approval_process.js
  test/cypress/e2e/approval/collection_approval.js
  test/cypress/e2e/approval_modal/approval_multiple_repos.js
  test/cypress/e2e/approval_modal/approval_multiple_repos_list.js
Labels: backport-4.7

#4199 Menu: allow alternative url prefixes to highlight active menu item
  src/loaders/standalone/menu.tsx
Labels: community

#4220 [stable-4.2] cleanup
  .github/workflows/pr-checks.yml
Labels: cleanup

#4221 [stable-4.5] cleanup
  .github/workflows/cypress.yml
  .github/workflows/pr-checks.yml
Labels: cleanup

#4222 [stable-4.6] cleanup
  .github/workflows/automerge.yml
  .github/workflows/cypress.yml
  .github/workflows/pr-checks.yml
Labels: cleanup

#4196 Rename legacy roles to Roles
  src/containers/legacy-namespaces/legacy-namespace.tsx
  src/containers/legacy-namespaces/legacy-namespaces.tsx
  src/containers/legacy-roles/legacy-roles.tsx
  src/containers/not-found/dispatch.tsx
  src/loaders/standalone/menu.tsx
  src/loaders/standalone/routes.tsx
  src/paths.ts
  test/cypress/support/commands.js
Labels: community

#4223 [stable-4.7] cleanup
  .github/workflows/automerge.yml
  .github/workflows/cypress.yml
  .github/workflows/pr-checks.yml
Labels: cleanup

#4224 [stable-4.7] cleanup synclistSwitch
  src/components/collection-list/collection-list-item.tsx
  src/components/collection-list/collection-list.tsx
Labels: cleanup

#4197 Change the landing page banner.
  src/containers/landing/landing-page.tsx
Labels: community

#4264 Lightspeed ad - change width to 100%
  src/containers/landing/landing-page.tsx
Labels: community

#4282 community - drop "Beta", change discussions link
  CHANGES/2708.misc
  src/containers/landing/landing-page.tsx
  src/loaders/standalone/layout.tsx
  test/cypress/e2e/community/view-only.js
  test/cypress/e2e/community/wisdom_modal.js
Labels: community

#4303 Roles and role namespaces - functional components, cleanup
  src/components/index.ts
  src/components/legacy-namespace-list/legacy-namespace-item.tsx
  src/components/legacy-namespace-list/legacy-namespace-provider.tsx
  src/components/legacy-namespace-list/provider-link.tsx
  src/components/legacy-role-list/legacy-role-item.tsx
  src/containers/collection-detail/collection-dependencies.tsx
  src/containers/legacy-namespaces/legacy-namespace.tsx
  src/containers/legacy-roles/legacy-role.tsx
  src/containers/legacy-roles/legacy-roles.tsx
Labels: community, cleanup

#4283 RoleRatings, CollectionRatings - display scores on role list/detail and collection detail
  CHANGES/2289.misc
  CHANGES/2652.misc
  config/community.dev.webpack.config.js
  config/standalone.dev.webpack.config.js
  src/components/collection-list/collection-list-item.tsx
  src/components/headers/collection-header.tsx
  src/components/helper-text/helper-text.tsx
  src/components/index.ts
  src/components/legacy-namespace-list/provider-link.tsx
  src/components/legacy-role-list/legacy-role-item.tsx
  src/components/shared/ratings.tsx
  src/containers/legacy-roles/legacy-role.tsx
  static/scores/collection.json
  static/scores/role.json
Labels: community

#4302 Namespace - show name, not company (outside insights)
  CHANGES/2722.fix
  src/components/cards/collection-card.tsx
  src/components/cards/namespace-card.tsx
  src/components/collection-list/collection-list-item.tsx
  src/components/headers/collection-header.tsx
  src/components/headers/partner-header.tsx
  src/components/namespace-form/namespace-form.tsx
  src/containers/namespace-list/namespace-list.tsx
  src/utilities/index.ts
  src/utilities/namespace-title.ts
  test/cypress/e2e/namespaces/namespace_edit.js
Labels: community

#4216 Search page
  CHANGES/2697.misc
  src/components/empty-state/empty-state-custom.tsx
  src/components/empty-state/empty-state-xs.tsx
  src/components/index.ts
  src/components/legacy-namespace-list/legacy-namespace-item.tsx
  src/components/shared/multi-search-search.tsx
  src/components/shared/namespace-list-item.tsx
  src/containers/index.ts
  src/containers/landing/landing-page.tsx
  src/containers/search/multi-search.tsx
  src/loaders/standalone/menu.tsx
  src/loaders/standalone/routes.tsx
  src/paths.ts
Labels: community

#4305 Ensure community users can delete their collections
  CHANGES/2632.bug
  src/components/headers/collection-header.tsx
  src/containers/namespace-detail/namespace-detail.tsx
  src/containers/search/search.tsx
Labels: community

#4306 NamespaceListItem - fix url
  src/components/shared/namespace-list-item.tsx
Labels: community
