Repository ansible/ansible-hub-ui, pull requests merged in 2023-07, with the labels that each got.

#3902 Namespace detail: use is_highest consistently
  CHANGES/2443.bug
  src/containers/namespace-detail/namespace-detail.tsx
Labels: backport-4.7

#3894 Cypress
  .github/workflows/cypress.yml
  src/components/headers/collection-header.tsx
  src/utilities/delete-collection.tsx
  test/cypress.config.js
  test/cypress/e2e/collections/collection.js
  test/cypress/e2e/community/compose.env
  test/cypress/e2e/community/view-only.js
  test/cypress/e2e/community/wisdom_modal.js
  test/cypress/e2e/execution_environments/execution_environments_edit.js
  test/cypress/e2e/groups_and_users/group_management.js
  test/cypress/e2e/groups_and_users/login.js
  test/cypress/e2e/groups_and_users/user_filter.js
  test/cypress/e2e/insights/namespace_edit.js
  test/cypress/e2e/insights_collections/collection.js
  test/cypress/e2e/misc/compose.env
  test/cypress/e2e/misc/rbac_access.js
  test/cypress/e2e/namespaces/namespace_edit.js
  test/cypress/e2e/view-only-access/compose.env
  test/cypress/e2e/view-only-access/view-only.js
  test/cypress/e2e/view-only-download/compose.env
  test/cypress/support/commands.js
  test/cypress/support/login.js
Labels: tests

#3950 [stable-4.7] Sync cypress, cleanup wisdom (#3894)
  .github/workflows/cypress.yml
  src/api/index.ts
  src/api/response-types/feature-flags.ts
  src/api/wisdom-deny-index.ts
  src/components/execution-environment/publish-to-controller-modal.tsx
  src/components/headers/collection-header.tsx
  src/components/index.ts
  src/components/legacy-namespace-list/legacy-namespace-item.tsx
  src/components/wisdom-modal/wisdom-modal.tsx
  src/containers/execution-environment-list/execution_environment_list.tsx
  src/containers/legacy-namespaces/legacy-namespace.tsx
  src/containers/legacy-namespaces/legacy-namespaces.tsx
  src/containers/namespace-detail/namespace-detail.tsx
  src/loaders/standalone/menu.tsx
  src/utilities/delete-collection.tsx
  test/cypress.config.js
  test/cypress/e2e/collections/collection.js
  test/cypress/e2e/collections/collection_detail.js
  test/cypress/e2e/collections/collection_upload.js
  test/cypress/e2e/collections/collections_list.js
  test/cypress/e2e/execution_environments/execution_environments_edit.js
  test/cypress/e2e/groups_and_users/group_management.js
  test/cypress/e2e/groups_and_users/login.js
  test/cypress/e2e/groups_and_users/user_filter.js
  test/cypress/e2e/misc/compose.env
  test/cypress/e2e/misc/menu.js
  test/cypress/e2e/misc/rbac_access.js
  test/cypress/e2e/misc/wisdom_modal.js
  test/cypress/e2e/namespaces/namespace_delete.js
  test/cypress/e2e/namespaces/namespace_detail.js
  test/cypress/e2e/namespaces/namespace_edit.js
  test/cypress/e2e/view-only-access/compose.env
  test/cypress/e2e/view-only-access/view-only.js
  test/cypress/e2e/view-only-download/compose.env
  test/cypress/e2e/view-only-download/view-only.js
  test/cypress/support/commands.js
  test/cypress/support/login.js
  test/package-lock.json
  test/package.json
Labels: cleanup, tests

#3963 [stable-4.2] test/README: use unix line breaks
  test/README.md
Labels: cleanup

#3964 [stable-4.5] repo_management: chmod -x
  test/cypress/integration/repo_management.js
Labels: cleanup

#3965 [stable-4.6] signing-setup: chmod -x
  .github/workflows/scripts/signing-setup.sh
Labels: cleanup

#4009 Remove alert from Task list view
  CHANGES/2438.bug
  src/containers/task-management/task-list-view.tsx
  test/cypress/e2e/misc/rbac.js
Labels: backport-4.7

#4012 Repository/Remote delete: wait for task before requery, redirect to list screen instead of 404 after delete on detail
  src/actions/action.tsx
  src/actions/ansible-remote-delete.tsx
  src/actions/ansible-repository-delete.tsx
  src/components/page/list-page.tsx
  src/components/page/page-with-tabs.tsx
  src/components/page/page.tsx
  src/containers/ansible-remote/detail.tsx
  src/containers/ansible-remote/edit.tsx
  src/containers/ansible-repository/detail.tsx
  src/containers/ansible-repository/edit.tsx
  src/utilities/fail-alerts.ts
  test/cypress/e2e/collections/collection.js
  test/cypress/e2e/repo/repository.js
Labels: backport-4.7
