Repository ansible/ansible-hub-ui, pull requests merged in 2023-01, with the labels that each got.

#2742 Screenshots tests
  .github/workflows/cypress.yml
  test/cypress/e2e/screenshots/screenshots.js
Labels: tests

#2987 insights-loader: switch to useChrome
  package-lock.json
  package.json
  src/loaders/insights/insights-loader.tsx
Labels: insights

#3063 [beta] UX: give a helpful message about roles with no versions
  CHANGES/2063.bug
  src/containers/legacy-roles/legacy-role.tsx
Labels: community

#3145 CRC Hub has broken link to SSO offline token page
  CHANGES/2069.bugfix
  src/containers/token/token-insights.tsx
Labels: insights

#3150 Quick fix of screenshot tests - disable pages with variable time info
  test/cypress/e2e/screenshots/screenshots.js
Labels: backport-4.6

#3149 Hide the licence when empty
  CHANGES/2048.bug
  src/components/collection-detail/collection-info.tsx
Labels: backport-4.5, backport-4.6

#3154 Make approval collection list test faster
  test/cypress/e2e/approval/approval_dashboard_list.js
Labels: backport-4.6

#3064 [beta] UX: slow legacy pagination needs loading spinners
  CHANGES/2062.bug
  src/containers/legacy-namespaces/legacy-namespace.tsx
  src/containers/legacy-namespaces/legacy-namespaces.tsx
  src/containers/legacy-roles/legacy-roles.tsx
Labels: community

#2985 Tests for insights mode
  .github/workflows/cypress/cypress.env.json.insights
  CHANGES/2054.task
  test/cypress/e2e/insights/namespace_delete.js
  test/cypress/e2e/insights/namespace_detail.js
  test/cypress/e2e/insights/namespace_edit.js
  test/cypress/e2e/insights/namespace_form.js
  test/cypress/e2e/insights/namespace_list.js
  test/cypress/e2e/insights/smoke.js
  test/cypress/e2e/namespaces/namespace_delete.js
  test/cypress/e2e/namespaces/namespace_detail.js
  test/cypress/e2e/namespaces/namespace_edit.js
  test/cypress/e2e/namespaces/namespace_form.js
  test/cypress/e2e/namespaces/namespace_list.js
  test/cypress/support/commands.js
Labels: insights, tests

#2684 Cloud collection detail: Create Issue button leading to prefilled access.redhat.com/support/cases
  CHANGES/568.feature
  src/components/headers/collection-header.tsx
Labels: insights

#3146 Make collections list test faster
  test/cypress.env.json.template
  test/cypress/e2e/collections/collections_list.js
Labels: backport-4.6

#3176 Clean up more old code
  .github/workflows/cypress.yml
  README.md
  ci.sh
  developer_guidelines.md
  package-lock.json
  package.json
  src/api/index.ts
  src/api/response-types/import.ts
  src/api/response-types/user.ts
  src/components/headers/header.scss
  src/components/import-modal/import-modal.scss
  src/components/index.ts
  src/components/legacy-namespace-list/legacy-namespace-item.tsx
  src/components/markdown-editor/markdown-editor.scss
  src/components/my-imports/my-imports.scss
  src/components/namespace-form/namespace-form.scss
  src/components/numeric-label/numeric-label.tsx
  src/components/patternfly-wrappers/sort.tsx
  src/components/shared/ui-version.tsx
  src/components/sort-table/sort-table.scss
  src/constants.tsx
  src/containers/collection-detail/collection-detail.scss
  src/containers/execution-environment-detail/base.tsx
  src/containers/execution-environment-detail/execution-environment-detail.scss
  src/containers/execution-environment-detail/execution_environment_detail_activities.tsx
  src/containers/execution-environment-detail/execution_environment_detail_images.tsx
  src/containers/execution-environment-list/execution_environment_list.tsx
  src/containers/index.ts
  src/containers/legacy-namespaces/legacy-namespace.scss
  src/containers/legacy-namespaces/legacy-namespaces.scss
  src/containers/legacy-roles/legacy-roles.scss
  src/containers/my-imports/my-imports.scss
  src/containers/not-found/not-found.tsx
  src/containers/role-management/role-create.tsx
  src/containers/role-management/role-edit.tsx
  src/containers/search/search.scss
  src/containers/signature-keys/list.tsx
  src/containers/task-management/task-list-view.tsx
  src/entry-insights.tsx
  src/global-variables.scss
  src/index.d.ts
  src/l10n.ts
  src/loaders/app.scss
  src/utilities/index.ts
  src/utilities/map-role-errors.ts
Labels: cleanup

#3153 Container signing feature flag fix
  CHANGES/2013.bug
  CHANGES/2015.bug
  src/api/response-types/feature-flags.ts
  src/components/cards/collection-card.tsx
  src/components/collection-detail/download-signature-grid-item.tsx
  src/components/collection-list/collection-filter.tsx
  src/components/collection-list/collection-list-item.tsx
  src/components/collection-list/collection-list.tsx
  src/components/headers/collection-header.tsx
  src/components/repositories/remote-form.tsx
  src/components/signing/signature-badge.tsx
  src/containers/certification-dashboard/certification-dashboard.tsx
  src/containers/execution-environment-detail/base.tsx
  src/containers/group-management/group-detail.tsx
  src/containers/namespace-detail/namespace-detail.tsx
  src/containers/search/search.tsx
  src/containers/settings/user-profile.tsx
  src/loaders/load-context.ts
  src/loaders/standalone/menu.tsx
  src/utilities/can-sign.tsx
  src/utilities/index.ts
Labels: backport-4.6

#3170 Collections tests for insights mode
  .github/workflows/cypress.yml
  CHANGES/2054.task
  test/cypress/e2e/collections/collection.js
  test/cypress/e2e/collections/collection_detail.js
  test/cypress/e2e/collections/collection_upload.js
  test/cypress/e2e/collections/collections_list.js
  test/cypress/e2e/insights_collections/collection.js
  test/cypress/e2e/insights_collections/collection_detail.js
  test/cypress/e2e/insights_collections/collection_upload.js
  test/cypress/e2e/insights_collections/collections_list.js
Labels: insights, tests

#3225 Support `?pseudolocalization=true|false` to enable/disable pseudolocalization; `?lang=` to force language
  src/l10n.ts
Labels: backport-4.5, backport-4.6
