Repository ansible/ansible-hub-ui, pull requests merged in 2023-08, with the labels that each got.

#4106 Add "eda" tag to list of filterable tags
  src/constants.tsx
Labels: community, backport-4.7

#4107 Add autocomplete=off to login form fields, password fields
  CHANGES/2625.bug
  src/components/index.ts
  src/components/patternfly-wrappers/login-form.tsx
  src/components/patternfly-wrappers/write-only-field.tsx
  src/components/rbac/user-form.tsx
  src/components/repositories/remote-form.tsx
  src/components/shared/data-form.tsx
  src/containers/login/login.tsx
Labels: backport-4.7

#4110 cypress.yml: rename COMPOSE_PROFILE to BACKEND_FLAVOR
  .github/workflows/cypress.yml
Labels: backport-4.7

#3880 Expose download counts
  CHANGES/2237.feature
  CHANGES/2241.feature
  src/api/collection.ts
  src/api/response-types/collection.ts
  src/api/response-types/legacy-role.ts
  src/components/headers/base-header.tsx
  src/components/headers/collection-header.tsx
  src/components/headers/header.scss
  src/components/index.ts
  src/components/legacy-role-list/legacy-role-item.tsx
  src/components/shared/download-count.tsx
  src/containers/collection-detail/base.ts
  src/containers/collection-detail/collection-content.tsx
  src/containers/collection-detail/collection-dependencies.tsx
  src/containers/collection-detail/collection-detail.tsx
  src/containers/collection-detail/collection-distributions.tsx
  src/containers/collection-detail/collection-docs.tsx
  src/containers/collection-detail/collection-import-log.tsx
  src/containers/legacy-roles/legacy-role.tsx
  src/l10n.ts
Labels: community

#4090 Add a 404 Dispatch page, handle some old galaxy URLs
  CHANGES/2342.bug
  src/api/response-types/task.ts
  src/containers/index.ts
  src/containers/legacy-roles/legacy-role.tsx
  src/containers/not-found/dispatch.tsx
  src/entry-standalone.tsx
  src/loaders/standalone/menu.tsx
  src/loaders/standalone/routes.tsx
  src/paths.ts
Labels: community, backport-4.7

#4089 Enable community profile in cypress CI
  .github/workflows/cypress.yml
  .github/workflows/cypress/compose.env.community
  .github/workflows/cypress/cypress.env.json.community
  CHANGES/2242.feature
  test/cypress.env.json.template
  test/cypress/support/commands.js
Labels: backport-4.7

#4128 Add banner linking discussions on beta galaxy
  CHANGES/1893.misc
  src/loaders/standalone/layout.tsx
Labels: community

#4145 screenshot tests: add more screens, blackout time, enable legacy
  .github/workflows/cypress.yml
  src/components/date-component/date-component.tsx
  test/cypress.config.js
  test/cypress/e2e/screenshots/compose.env
  test/cypress/e2e/screenshots/screenshots.js
Labels: tests, backport-4.7

#4143 Fix collection detail global css
  src/components/collection-dependencies-list/collection-dependencies-list.tsx
  src/components/collection-list/collection-filter.scss
  src/components/copy-collection-to-repository-modal/copy-collection-to-repository-modal.tsx
  src/components/headers/base-header.tsx
  src/components/headers/collection-header.tsx
  src/components/headers/header.scss
  src/components/headers/partner-header.tsx
  src/components/page/list-page.tsx
  src/components/page/page-with-tabs.tsx
  src/components/page/page.tsx
  src/components/repo-selector/multiple-repo-selector.tsx
  src/components/shared/detail-list.tsx
  src/containers/certification-dashboard/certification-dashboard.tsx
  src/containers/collection-detail/collection-dependencies.scss
  src/containers/collection-detail/collection-dependencies.tsx
  src/containers/collection-detail/collection-detail.scss
  src/containers/collection-detail/collection-distributions.tsx
  src/containers/collection-detail/collection-docs.tsx
  src/containers/execution-environment-detail/execution_environment_detail_images.tsx
  src/containers/execution-environment-list/execution_environment_list.tsx
  src/containers/execution-environment/registry-list.tsx
  src/containers/group-management/group-detail-role-management/group-detail-role-management.tsx
  src/containers/group-management/group-detail.tsx
  src/containers/group-management/group-list.tsx
  src/containers/legacy-namespaces/legacy-namespaces.scss
  src/containers/legacy-namespaces/legacy-namespaces.tsx
  src/containers/legacy-roles/legacy-role.scss
  src/containers/legacy-roles/legacy-role.tsx
  src/containers/legacy-roles/legacy-roles.scss
  src/containers/legacy-roles/legacy-roles.tsx
  src/containers/namespace-detail/namespace-detail.scss
  src/containers/namespace-detail/namespace-detail.tsx
  src/containers/namespace-list/namespace-list.scss
  src/containers/namespace-list/namespace-list.tsx
  src/containers/role-management/role-list.tsx
  src/containers/search/search.scss
  src/containers/search/search.tsx
  src/containers/signature-keys/list.tsx
  src/containers/task-management/task-list-view.tsx
  src/containers/user-management/user-list.tsx
  src/loaders/app.scss
  src/loaders/standalone/menu.tsx
  test/cypress/e2e/approval/approval_dashboard_list.js
  test/cypress/e2e/approval_modal/approval_multiple_repos.js
  test/cypress/e2e/approval_modal/approval_multiple_repos_list.js
  test/cypress/e2e/collections/collection_detail.js
  test/cypress/e2e/collections/collections_list.js
  test/cypress/e2e/insights/namespace_edit.js
  test/cypress/e2e/insights_collections/collection_detail.js
  test/cypress/e2e/insights_collections/collections_list.js
  test/cypress/e2e/namespaces/namespace_edit.js
  test/cypress/e2e/repo/container-signing.js
Labels: backport-4.7

#4144 Fix dispatch page filter param - use github_user for legacy roles
  CHANGES/2670.bug
  src/containers/not-found/dispatch.tsx
Labels: community, backport-4.7

#4159 Import modal: better error for Invalid file format.
  src/components/import-modal/import-modal.scss
  src/components/import-modal/import-modal.tsx
Labels: backport-4.7

#4016 Import modal - add !pipeline filter
  src/components/import-modal/import-modal.tsx
  src/components/repo-selector/multiple-repo-selector.tsx
  test/cypress/e2e/approval_modal/approval_multiple_repos_list.js
Labels: backport-4.7
