Repository ansible/ansible-hub-ui, pull requests merged in 2023-04, with the labels that each got.

#3472 Repository Collection versions - Add/Remove collections
  src/actions/ansible-repository-collection-version-add.tsx
  src/actions/ansible-repository-collection-version-remove.tsx
  src/actions/index.ts
  src/api/ansible-repository.ts
  src/components/shared/detail-list.tsx
  src/containers/ansible-repository/tab-collection-versions.tsx
Labels: feature

#3506 Don't send my_permissions field when repository/remote is edited (fixes a 400 Bad request)
  CHANGES/2233.bug
  src/containers/ansible-remote/edit.tsx
  src/containers/ansible-repository/edit.tsx
Labels: bug, backport-4.7

#3559 CollectionDetail: use routeParams.repo, not routeParams.published
  src/containers/collection-detail/collection-detail.tsx
Labels: backport-4.7

#3541 Unify routing to collection detail
  CHANGES/2231.bug
  src/containers/ansible-repository/tab-collection-versions.tsx
  src/containers/ansible-repository/tab-repository-versions.tsx
  src/loaders/insights/routes.tsx
  src/loaders/standalone/routes.tsx
  src/paths.ts
Labels: backport-4.7

#3568 Hide `staging` and `rejected` repositories in repository filter
  CHANGES/2273.bug
  src/components/collection-list/collection-filter.tsx
Labels: backport-4.7

#3579 Insights smoke test: nav-toggle no longer exists
  test/cypress/e2e/insights/smoke.js
Labels: insights, tests

#3567 Fix logo size in collection list
  CHANGES/2272.bug
  src/components/collection-list/collection-list-item.tsx
  src/components/logo/logo.tsx
Labels: backport-4.7

#3504 Approval Modal test
  .github/workflows/cypress.yml
  CHANGES/2248.task
  src/containers/certification-dashboard/certification-dashboard.tsx
  test/cypress/e2e/approval/approval_dashboard_list.js
  test/cypress/e2e/approval/approval_process.js
  test/cypress/e2e/approval/collection_approval.js
  test/cypress/e2e/approval_modal/approval_multiple_repos.js
  test/cypress/e2e/approval_modal/approval_multiple_repos_list.js
Labels: tests, backport-4.7

#3565 Approve modal checkbox repair
  CHANGES/2263.bug
  src/components/approve-modal/approve-modal.tsx
Labels: backport-4.7

#3561 Details: break words when needed for wrapping
  CHANGES/2285.bug
  src/components/shared/details.tsx
Labels: backport-4.7

#3562 Fix Delete collection version redirect when in multiple repos
  CHANGES/2264.fix
  src/components/headers/collection-header.tsx
Labels: backport-4.7

#3563 Remove from repo button says Remove, not Delete now
  CHANGES/2275.fix
  src/actions/ansible-repository-collection-version-remove.tsx
  src/components/delete-modal/delete-modal.tsx
Labels: backport-4.7

#3564 fix extra "You don't have permission to display users." when deleting groups
  CHANGES/2283.fix
  src/containers/group-management/group-detail.tsx
  src/containers/group-management/group-list.tsx
Labels: backport-4.7

#3570 Legacy roles: fix l10n typo
  src/components/legacy-role-list/legacy-role-item.tsx
  src/containers/legacy-roles/legacy-role.tsx
Labels: community, backport-4.7

#3576 Delete repository distributions when deleting a repository
  CHANGES/2254.fix
  CHANGES/2278.fix
  src/actions/ansible-repository-delete.tsx
  src/api/ansible-distribution.ts
Labels: backport-4.7

#3578 Creating a distribution - transform base_path, rename on failure
  CHANGES/2253.fix
  CHANGES/2277.fix
  src/containers/ansible-repository/edit.tsx
Labels: backport-4.7

#3571 Fixed collection upload permissions and css styling
  CHANGES/2276.bug
  src/components/cards/cards.scss
  src/containers/search/search.tsx
  test/cypress/e2e/collections/collection_upload.js
Labels: backport-4.7

#3575 Use mirror:true for repository syncs
  CHANGES/2286.fix
  src/actions/ansible-repository-sync.tsx
  src/api/ansible-repository.ts
Labels: backport-4.7

#3581 Select collection screen - multi select, repository field, repo filter
  CHANGES/2274.misc
  src/actions/ansible-repository-collection-version-add.tsx
  src/api/ansible-repository.ts
  src/utilities/repositories.ts
Labels: backport-4.7

#3595 Fix collection version selector
  src/api/collection-version.ts
  src/components/headers/collection-header.tsx
  src/containers/collection-detail/base.ts
  src/containers/collection-detail/collection-content.tsx
  src/containers/collection-detail/collection-dependencies.tsx
  src/containers/collection-detail/collection-detail.tsx
  src/containers/collection-detail/collection-distributions.tsx
  src/containers/collection-detail/collection-docs.tsx
  src/containers/collection-detail/collection-import-log.tsx
Labels: backport-4.7

#3597 Fix EmptyStateFilter not appearing in Namespace detail when filtering by repo/tags/sign state
  CHANGES/2304.bug
  src/components/patternfly-wrappers/compound-filter.tsx
  src/containers/namespace-detail/namespace-detail.tsx
Labels: backport-4.7

#3602 Fix Add/Remove collection ignoring repository object permissions
  CHANGES/2305.bug
  src/containers/ansible-repository/tab-collection-versions.tsx
Labels: backport-4.7

#3603 Restyle collection list item controls to keep alignment
  CHANGES/2303.bug
  src/components/collection-list/collection-list-item.tsx
  src/components/collection-list/collection-list.tsx
  src/components/collection-list/list-item.scss
  src/components/legacy-namespace-list/legacy-namespace-item.scss
  src/components/legacy-role-list/legacy-role-item.scss
  src/containers/namespace-detail/namespace-detail.tsx
  src/containers/search/search.tsx
Labels: backport-4.7

#3566 Wisdom Modal Updates
  CHANGES/2220.task
  src/components/legacy-namespace-list/legacy-namespace-item.tsx
  src/components/wisdom-modal/wisdom-modal.tsx
  src/containers/legacy-namespaces/legacy-namespace.tsx
  src/containers/legacy-namespaces/legacy-namespaces.tsx
  src/containers/namespace-detail/namespace-detail.tsx
  test/cypress/e2e/misc/wisdom_modal.js
Labels: community, backport-4.7

#3628 Repository edit: respect object permissions
  CHANGES/2305.bug
  src/components/page/page.tsx
Labels: backport-4.7

#3558 Use `display_repositories` feature flag
  src/api/response-types/feature-flags.ts
  src/components/cards/collection-card.tsx
  src/components/collection-list/collection-list-item.tsx
  src/components/headers/base-header.tsx
  src/components/headers/partner-header.tsx
  src/components/repo-selector/repo-selector.tsx
  src/containers/ansible-remote/tab-access.tsx
  src/containers/ansible-repository/tab-access.tsx
  src/permissions.ts
  test/cypress/e2e/view-only-access/compose.env
  test/cypress/e2e/view-only-download/compose.env
Labels: community, backport-4.7

#3343 Insights: support /preview/ as well as /beta/
  .github/workflows/cypress.yml
  .github/workflows/cypress/cypress.env.json.insights
  README.md
  config/insights.dev.webpack.config.js
  config/insights.prod.webpack.config.js
  config/webpack.base.config.js
  src/paths.ts
  test/cypress.env.json.template
Labels: insights

#3648 Fix version modal - load data on pagination
  src/components/headers/collection-header.tsx
  src/containers/collection-detail/base.ts
Labels: backport-4.7

#3655 Fix manual approve/reject when repository name is different from distribution base_path
  src/api/collection-version.ts
  src/containers/certification-dashboard/certification-dashboard.tsx
Labels: backport-4.7

#3652 Namespace detail - fix Sign all
  CHANGES/2308.bug
  src/api/collection.ts
  src/api/sign-collections.ts
  src/components/collection-list/collection-filter.tsx
  src/containers/namespace-detail/namespace-detail.tsx
Labels: backport-4.7
