Repository ansible/ansible-hub-ui, pull requests merged in 2023-06, with the labels that each got.

#3786 Repository sync - modal to set mirror, optimize
  CHANGES/2301.feature
  src/actions/ansible-repository-sync.tsx
  test/cypress/e2e/misc/task_list.js
  test/cypress/e2e/misc/task_management_detail.js
  test/cypress/e2e/repo/repository.js
Labels: backport-4.7

#3499 Bump lingui to v4
  .linguirc
  .ls-lint.yml
  lingui.config.js
  locale/en.js
  locale/en.po
  locale/es.js
  locale/es.po
  locale/fr.js
  locale/fr.po
  locale/ja.js
  locale/ja.po
  locale/ko.js
  locale/ko.po
  locale/nl.js
  locale/nl.po
  locale/zh.js
  locale/zh.po
  package-lock.json
  package.json
  src/actions/action.tsx
  src/actions/ansible-remote-create.tsx
  src/actions/ansible-remote-delete.tsx
  src/actions/ansible-remote-download-ca.tsx
  src/actions/ansible-remote-download-client.tsx
  src/actions/ansible-remote-download-requirements.tsx
  src/actions/ansible-remote-edit.tsx
  src/actions/ansible-repository-collection-version-add.tsx
  src/actions/ansible-repository-collection-version-remove.tsx
  src/actions/ansible-repository-copy.tsx
  src/actions/ansible-repository-create.tsx
  src/actions/ansible-repository-delete.tsx
  src/actions/ansible-repository-edit.tsx
  src/actions/ansible-repository-sync.tsx
  src/actions/ansible-repository-version-revert.tsx
  src/components/index.ts
  src/components/page/list-page.tsx
  src/components/page/page-with-tabs.tsx
  src/components/page/page.tsx
  src/components/shared/detail-list.tsx
  src/constants.tsx
  src/containers/ansible-remote/detail.tsx
  src/containers/ansible-remote/edit.tsx
  src/containers/ansible-remote/list.tsx
  src/containers/ansible-repository/detail.tsx
  src/containers/ansible-repository/edit.tsx
  src/containers/ansible-repository/list.tsx
  src/l10n.ts
Labels: backport-4.5, backport-4.6, backport-4.7

#3654 Add collection upload repository selector
  CHANGES/2250.task
  src/api/collection.ts
  src/api/response-types/collection.ts
  src/components/approve-modal/approve-modal.tsx
  src/components/import-modal/import-modal.tsx
  src/components/index.ts
  src/components/repo-selector/multiple-repo-selector.tsx
  src/containers/certification-dashboard/certification-dashboard.tsx
  src/utilities/repositories.ts
Labels: backport-4.7

#3735 Copy collection version in collection detail screen
  CHANGES/2255.feature
  src/components/copy-collection-to-repository-modal/copy-collection-to-repository-modal.tsx
  src/components/headers/collection-header.tsx
  src/components/index.ts
  src/containers/certification-dashboard/certification-dashboard.tsx
  src/utilities/repositories.ts
  test/cypress/e2e/collections/collection.js
Labels: backport-4.7

#3759 Delete collection all or single repo
  CHANGES/2261.task
  src/components/delete-modal/delete-collection-modal.tsx
  src/components/headers/collection-header.tsx
  src/containers/namespace-detail/namespace-detail.tsx
  src/containers/search/search.tsx
  src/utilities/delete-collection.tsx
  test/cypress/e2e/approval/approval_process.js
  test/cypress/e2e/collections/collection.js
  test/cypress/e2e/collections/collections_list.js
  test/cypress/e2e/misc/rbac.js
  test/cypress/support/commands.js
Labels: backport-4.7

#3860 cypress tests for collection upload with multiple repositories
  CHANGES/2251.task
  test/cypress/e2e/approval/approval_process.js
Labels: backport-4.7

#3787 Repository list - add columns, filters
  CHANGES/2271.feature
  CHANGES/2340.bugfix
  src/api/response-types/ansible-repository.ts
  src/components/page/list-page.tsx
  src/components/page/page-with-tabs.tsx
  src/components/page/page.tsx
  src/components/patternfly-wrappers/compound-filter.tsx
  src/containers/ansible-remote/list.tsx
  src/containers/ansible-repository/list.tsx
  src/containers/certification-dashboard/certification-dashboard.tsx
Labels: backport-4.7

#3893 Token insights: remove unused my-distributions query
  src/api/index.ts
  src/api/my-distribution.ts
  src/containers/token/token-insights.tsx
Labels: insights, cleanup

#3896 Fix Namespaces/Partners breadcrumb
  CHANGES/2433.bug
  src/containers/collection-detail/collection-content.tsx
  src/containers/collection-detail/collection-dependencies.tsx
  src/containers/collection-detail/collection-detail.tsx
  src/containers/collection-detail/collection-distributions.tsx
  src/containers/collection-detail/collection-docs.tsx
  src/containers/collection-detail/collection-import-log.tsx
  src/containers/edit-namespace/edit-namespace.tsx
  src/containers/namespace-detail/namespace-detail.tsx
  src/containers/namespace-list/namespace-list.tsx
  src/paths.ts
Labels: insights

#3895 c.r.c. move alert list so it's not covered by breadcrumbs
  CHANGES/2432.bug
  src/components/patternfly-wrappers/alert-list.tsx
Labels: insights

#3879 community - fix token page expiration notice when auth provider is github
  CHANGES/2324.bug
  src/containers/token/token-standalone.tsx
Labels: community, backport-4.7
