Repository ansible/ansible-hub-ui, pull requests merged in 2023-03, with the labels that each got.

#3403 Insights tests: fix Cannot POST /api/chrome-service/...
  config/webpack.base.config.js
Labels: insights, tests

#3345 cy.*login: use cy.session; clean up
  test/cypress/e2e/groups_and_users/login.js
  test/cypress/e2e/groups_and_users/user_dashboard.js
  test/cypress/e2e/groups_and_users/user_detail.js
  test/cypress/e2e/misc/menu.js
  test/cypress/support/commands.js
  test/cypress/support/e2e.js
  test/cypress/support/login.js
Labels: tests

#3360 [community] Terms of Use link
  CHANGES/2159.feature
  src/loaders/standalone/menu.tsx
Labels: community

#3347 Wisdom namespaces
  CHANGES/2096.feature
  src/api/index.ts
  src/api/response-types/legacy-namespace.ts
  src/api/wisdom-deny-index.ts
  src/components/index.ts
  src/components/wisdom-modal/wisdom-modal.tsx
  src/containers/legacy-namespaces/legacy-namespace.scss
  src/containers/legacy-namespaces/legacy-namespace.tsx
  src/containers/namespace-detail/namespace-detail.tsx
  test/cypress/e2e/misc/compose.env
  test/cypress/e2e/misc/wisdom_modal.js
Labels: community

#3439 LocalRepositoryTable - fix error when distribution repository is null
  src/components/repositories/local-repository-table.tsx
Labels: backport-4.6

#3438 queueAlert - save alert in context, for next container
  src/components/headers/collection-header.tsx
  src/containers/edit-namespace/edit-namespace.tsx
  src/containers/namespace-detail/namespace-detail.tsx
  src/loaders/app-context.ts
  src/loaders/insights/loader.tsx
  src/loaders/standalone/loader.tsx
Labels: backport-4.6

#3437 taskAlert - handle "task started" alerts
  src/containers/execution-environment-detail/base.tsx
  src/containers/execution-environment-list/execution_environment_list.tsx
  src/containers/execution-environment/registry-list.tsx
  src/utilities/index.ts
  src/utilities/task-alert.tsx
Labels: backport-4.6

#3436 UX: rename Owners to Access, rename API token management to API token
  src/components/execution-environment-header/execution-environment-header.tsx
  src/components/execution-environment/repository-form.tsx
  src/components/index.ts
  src/components/namespace-form/namespace-form.tsx
  src/components/rbac/access-tab.tsx
  src/containers/execution-environment-detail/base.tsx
  src/containers/execution-environment-detail/execution_environment_detail_access.tsx
  src/containers/index.ts
  src/containers/namespace-detail/namespace-detail.tsx
  src/containers/namespace-list/namespace-list.tsx
  src/containers/token/token-standalone.tsx
  src/loaders/standalone/menu.tsx
  src/loaders/standalone/routes.tsx
  src/paths.ts
  test/cypress/e2e/misc/api_token.js
  test/cypress/e2e/misc/menu.js
  test/cypress/e2e/misc/rbac_access.js
  test/cypress/e2e/view-only-download/view-only.js
Labels: feature

#3435 RemoteForm - support no modal, hidden_fiels/write_only_fields switch
  src/components/repositories/remote-form.tsx
  src/utilities/write-only-fields.ts
Labels: feature

#3430 Repositories - Versions tab
  src/actions/ansible-repository-version-revert.tsx
  src/actions/index.ts
  src/api/ansible-repository.ts
  src/api/index.ts
  src/api/response-types/ansible-repository.ts
  src/components/index.ts
  src/components/page/list-page.tsx
  src/components/page/page-with-tabs.tsx
  src/components/page/page.tsx
  src/components/patternfly-wrappers/compound-filter.tsx
  src/components/repositories/ansible-repository-form.tsx
  src/components/shared/detail-list.tsx
  src/containers/ansible-remote/detail.tsx
  src/containers/ansible-remote/tab-access.tsx
  src/containers/ansible-remote/tab-details.tsx
  src/containers/ansible-repository/detail.tsx
  src/containers/ansible-repository/tab-access.tsx
  src/containers/ansible-repository/tab-collection-versions.tsx
  src/containers/ansible-repository/tab-details.tsx
  src/containers/ansible-repository/tab-repository-versions.tsx
Labels: feature

#3429 Repositories & Remotes - Access tab
  src/api/ansible-remote.ts
  src/api/ansible-repository.ts
  src/containers/ansible-remote/detail.tsx
  src/containers/ansible-remote/tab-access.tsx
  src/containers/ansible-repository/detail.tsx
  src/containers/ansible-repository/tab-access.tsx
Labels: feature

#3466 Repository version - add list of collections
  src/api/index.ts
  src/containers/ansible-repository/tab-repository-versions.tsx
Labels: feature

#3432 Remotes - YAML editor
  CHANGES/2044.bug
  config/webpack.base.config.js
  package-lock.json
  package.json
  src/components/repositories/remote-form.tsx
Labels: feature

#3468 Repair approval process and modal
  src/api/repositories.ts
  src/api/response-types/repositories.ts
  src/components/approve-modal/all-repos-selector.tsx
  src/components/approve-modal/approve-modal.tsx
  src/components/index.ts
  src/containers/certification-dashboard/certification-dashboard.tsx
  src/utilities/index.ts
  src/utilities/repositories.ts
Labels: feature

#3464 Repositories - add helper text, remove obsolete `approved_for_use`, change `is_private` label to `private` field
  src/api/response-types/ansible-repository.ts
  src/components/repositories/ansible-repository-form.tsx
  src/containers/ansible-repository/edit.tsx
  src/containers/ansible-repository/tab-details.tsx
Labels: feature

#3463 Repositories & Remotes - access checks
  src/actions/action.tsx
  src/actions/ansible-remote-create.tsx
  src/actions/ansible-remote-delete.tsx
  src/actions/ansible-remote-edit.tsx
  src/actions/ansible-repository-create.tsx
  src/actions/ansible-repository-delete.tsx
  src/actions/ansible-repository-edit.tsx
  src/actions/ansible-repository-sync.tsx
  src/actions/ansible-repository-version-revert.tsx
  src/api/response-types/ansible-remote.ts
  src/api/response-types/ansible-repository.ts
  src/components/page/list-page.tsx
  src/components/page/page-with-tabs.tsx
  src/components/page/page.tsx
  src/components/shared/detail-list.tsx
  src/containers/ansible-remote/detail.tsx
  src/containers/ansible-remote/edit.tsx
  src/containers/ansible-remote/list.tsx
  src/containers/ansible-remote/tab-access.tsx
  src/containers/ansible-repository/detail.tsx
  src/containers/ansible-repository/edit.tsx
  src/containers/ansible-repository/list.tsx
  src/containers/ansible-repository/tab-access.tsx
  src/containers/ansible-repository/tab-repository-versions.tsx
  src/containers/collection-detail/base.ts
  src/loaders/standalone/layout.tsx
  src/loaders/standalone/loader.tsx
  src/loaders/standalone/menu.tsx
  src/permissions.ts
  src/utilities/has-permission.tsx
  test/cypress/e2e/misc/menu.js
Labels: feature

#3433 Repository management cleanup, add insights routes
  src/api/ansible-remote.ts
  src/api/collection-version.ts
  src/api/distribution.ts
  src/api/index.ts
  src/api/remotes.ts
  src/api/response-types/collection.ts
  src/api/response-types/distribution.ts
  src/components/approve-modal/all-repos-selector.tsx
  src/components/collection-count/collection-count.tsx
  src/components/index.ts
  src/components/repositories/local-repository-table.tsx
  src/components/repositories/remote-form.tsx
  src/components/repositories/remote-repository-table.tsx
  src/constants.tsx
  src/containers/ansible-remote/detail.tsx
  src/containers/ansible-remote/edit.tsx
  src/containers/ansible-remote/list.tsx
  src/containers/ansible-repository/detail.tsx
  src/containers/ansible-repository/edit.tsx
  src/containers/ansible-repository/list.tsx
  src/containers/index.ts
  src/containers/repositories/repository-list.tsx
  src/containers/token/token-insights.tsx
  src/containers/token/token-standalone.tsx
  src/loaders/insights/routes.tsx
  src/loaders/standalone/menu.tsx
  src/loaders/standalone/routes.tsx
  src/paths.ts
  test/cypress/e2e/approval/signing.js
  test/cypress/e2e/collections/collections_list.js
  test/cypress/e2e/insights/menu.js
  test/cypress/e2e/insights/smoke.js
  test/cypress/e2e/misc/l10n.js
  test/cypress/e2e/misc/task_list.js
  test/cypress/e2e/misc/task_management_detail.js
  test/cypress/e2e/repo/remote_repo_edit.js
  test/cypress/e2e/repo/repo_management.js
  test/cypress/e2e/screenshots/screenshots.js
  test/cypress/e2e/view-only-download/view-only.js
Labels: cleanup, feature

#3431 Repositories - Collection versions tab
  src/components/shared/detail-list.tsx
  src/constants.tsx
  src/containers/ansible-repository/detail.tsx
  src/containers/ansible-repository/tab-collection-versions.tsx
Labels: feature
