Repository ansible/ansible-hub-ui, pull requests merged in 2024-03, with the labels that each got.

#4911 [stable-4.6] CHANGES fixup
  CHANGES.rst
  package-lock.json
Labels: cleanup

#4912 [stable-4.9] CHANGES fixup
  CHANGES.rst
Labels: cleanup

#4916 Fix tests for downstream usage
  test/cypress/support/commands.js
  test/cypress/support/login.js
Labels: backport-4.9

#4929 fixup insights build
  .github/workflows/pr-checks.yml
  config/webpack.base.config.js
Labels: insights

#4930 Bump typescript-eslint, switch to flat eslint config
  .eslintrc
  config/.eslintrc
  eslint.config.mjs
  package-lock.json
  package.json
  src/components/patternfly-wrappers/.eslintrc
  test/.eslintrc
  test/cypress/e2e/approval/approval_dashboard_list.js
  test/cypress/e2e/collections/collections_list.js
  test/cypress/e2e/ee_controller/execution_environments_use_in_controller.js
  test/cypress/e2e/execution_environments/execution_environments.js
  test/cypress/e2e/execution_environments/execution_environments_edit.js
  test/cypress/e2e/groups_and_users/group_list.js
  test/cypress/e2e/groups_and_users/user_list.js
  test/cypress/e2e/insights/namespace_form.js
  test/cypress/e2e/misc/profile.js
  test/cypress/e2e/misc/rbac_create.js
  test/cypress/e2e/namespaces/namespace_form.js
  test/cypress/support/commands.js
Labels: dependencies, javascript

#4865 Community - add trustarc for cookies
  CHANGES/2163.misc
  community/Dockerfile
  community/index.html
  src/containers/landing/landing-page.tsx
Labels: community
